@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-5">
            <h4 class="text-uppercase">key features</h4>
            <h3 class="text-uppercase">stylish design, <br /> advanced features</h3>
            <p>
                <span class="text-info">PHONO</span> Smartphones are stylish, industry-leading devices.
                Whether you want the best camera experience or the longest talk-time,
                <span class="text-info">PHONO</span> has a smartphone that will enhance your life.
                They feature powerful multicore processors, access to the latest apps
                through Android™, iOS and peerless display technology.
            </p>
        </div>
        <div class="col-sm-7">
            <img src="https://www3.lenovo.com/medias/lenovo-smartphone-vibe-k6-note-hero.png?context=bWFzdGVyfHJvb3R8NDQ1MTJ8aW1hZ2UvcG5nfGg3NS9oNWEvOTM4MjYzNzUzNTI2Mi5wbmd8NGI1OTlkNTM4Yzc3ZWE0YTcyNzM4Zjc1ZDJjOGRkZmJiMzBhYzk4YWNkNWRiZGY4ODhiMjhiOTYzOTkxN2E2NA&w=1920"
                 class="img-rounded"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://www3.lenovo.com/medias/lenovo-smartphone-phab-plus-front-back.png?context=bWFzdGVyfGltYWdlc3wxMjQ0MDV8aW1hZ2UvcG5nfGltYWdlcy9oNDIvaDA3LzkzMDc1NDg5NzUxMzQucG5nfDdmNWZkM2M3OGEyYmY0NDU4MGY1NTI3NjgzMWMzMmJmNWM1Y2JjYzU0NjI0NGIyNGFhMmZiMzhiMzI0YTIzOGM"
             class="img-responsive" />
        <h3 class="text-center">
            @Html.ActionLink("Silver Series", "Index", "Phone")
        </h3>
    </div>
    <div class="col-md-4">
        <img src="https://www3.lenovo.com/medias/k3note-music.png?context=bWFzdGVyfC9zYXNpYS9pbWFnZXMvaW4vc2VyaWVzL3wzMTMzMHxpbWFnZS9wbmd8L3Nhc2lhL2ltYWdlcy9pbi9zZXJpZXMvaGYxL2g2OS85MzY4OTAwMDc1NTUwLnBuZ3w4ODQ5NmYyNWUyYWMxYTBkNTYxM2E3M2MzMjE4NjE0MDY5YmYxNDQ4NWZjMmVkMzdmNDliMjBjNWFhOTc1MDM1"
             class="img-responsive" />
        <h3 class="text-center">
            @Html.ActionLink("Gold Series", "Index", "Phone")
        </h3>
    </div>
    <div class="col-md-4">
        <img src="https://www3.lenovo.com/medias/ZukZ2-Splitter.png?context=bWFzdGVyfHJvb3R8MTk1MDh8aW1hZ2UvcG5nfGg5Ni9oOTgvOTM4ODc2MDY5NDgxNC5wbmd8ZDI3YjQxMmYzYjU4NDZjYzFiZmZmZjYzY2UyZjA5OGM3ZGEyMDU4MjE2MTM1ZjA2MGIyMTFkNzg4YjU3ZGNkMg"
             class="img-responsive" />
        <h3 class="text-center">
            @Html.ActionLink("Titanium Series", "Index", "Phone")
        </h3>
    </div>
</div>