h1 {
    text-align:center;
}

h5 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

input, select {
    width: 100%;
    margin: 5px;
    height: 24px;
    border-radius: 3px;
    padding: 0 3px;
}

input#ckbxSameAddress {
    margin: 0 10px 0 0;
    height: 12px;
}

.dropdownList {
    height: 100%;
    padding: 0;
}

.container {
    width: 640px;
    margin: 20px auto;
    border: 1px solid rgba(44, 44, 44, .5);
    padding: 1em;
    box-shadow: #808080 3px 3px;
    border-radius: 3px;
    background-color: rgba(233, 233, 233, .2);
}

.auto-style1 {
    width: 100%;
    height: 28px;
}

.auto-style2 {
    width: 25%;
    text-align: right;
    padding-right: 1em;
}

.auto-style3 {
    width: 37%;
}

.auto-style4 {
    padding-left: 1.5em;
    color: red;
    width: 38%;
}

.ckbxAddress {
    height: 18px;
}

#ckbxSameAddress {
    width:auto;
    margin-right: 8px;
}

#btnCheckout {
    width: 124px;
    height: 32px;
    margin-top: 1em;
}

.validationSummary {
    color: red;
    border: 1px solid #aaa;
    padding: 15px;
    border-radius: 3px;
}

.lblOrderDetail {
    border: 3px outset #0026ff;
    background-color: rgba(188, 199, 122, 0.1);
    word-spacing: 3px;
    line-height: 1.3em;
    font-style:unset;
    font-size: 18px;
    color: #305e97;
    padding: 12px;
}