
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testing page</title>
</head>
<body>
    <div class="jumbotron">
        <h1>This is a test from Test Control</h1>
    </div>
</body>
</html>
